@using Otaviopedia.Models.COVID;

@{
    ViewData["Title"] = "CasesByCountry";

    List<CasesByCountry> cases = (List<CasesByCountry>)ViewData["cases"];
    string sourceAPI = ViewData["sourceAPI"].ToString();
}

<div class="customContainerContent">

    <h1 class="text-center">COVID info by country</h1>
    <hr />

    <input type="text" id="covidSearchInput" onkeyup="searchByCountry()" placeholder="Search a country...">

    <table id="covidTable" class="table covid" cellspacing="0">
        <thead class="thead-dark">
            <tr>
                <th class="th-sm">Flag</th>
                <th class="th-sm">Country</th>
                <th class="th-sm">Population</th>
                <th class="th-sm">Continent</th>
                <th class="th-sm">Today Deaths</th>
                <th class="th-sm">Total Deaths</th>
                <th class="th-sm">1 Death/People </th>
                <th class="th-sm">Total Cases</th>
                <th class="th-sm">Today Cases</th>
                <th class="th-sm">1 Case/People </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var country in cases)
            {
                <tr>
                    <td class="flag"><img src="@country.Flag" /></td>
                    <td>@country.Country</td>
                    <td>@country.Population</td>
                    <td>@country.Continent</td>
                    <td>@country.TodayDeaths</td>
                    <td>@country.TotalDeaths</td>
                    <td>@country.OneDeathPerPeople</td>
                    <td>@country.Cases</td>
                    <td>@country.TodayCases</td>
                    <td>@country.OneCasePerPeople</td>
                </tr>
            }

        </tbody>
    </table>

    <div class="sourceAPI">
        <small>
            <b>Source:</b>
            <a target="_blank" href="@sourceAPI">@sourceAPI - (Worldometers)</a>
        </small>
    </div>
</div>


@section Scripts{
<script type="text/javascript">
    function searchByCountry() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("covidSearchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("covidTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
}